@value colors: "./colors.css";
@value global-black, global-light-black, global-dark-gray, global-gray, global-light-gray, global-dark-white, global-white, global-teal, global-cyan, global-light-blue, global-blue, global-red, global-orange, global-yellow, global-green, global-purple, global-font-family from colors;

.page-root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: global-black;
  color: global-white;
}